html {
  font-size: 62.5%;
  line-height: 1;
}

body {
  //   ### Headings, Call-to-actions, Header Navigation
  font-family: "Raleway", sans-serif; // 400, 700

  // ### Body
  font-family: "Open Sans", sans-serif; // 400, 700

  font-size: 1.4rem;
}
